export(BuildSequenceDB)
S3method(summary, SeqDB)
S3method(print, summary.SeqDB)
S3method(subset, SeqDB)
export(GetIndexFromName , GetIndexFromAccession)
export(LoadSequence)
export(GetGenomeIndices, GetGenomes)
export(read.gbk)
export(BuildGBDB)
import(seqinr)
import(spgs)
