export(BuildSequenceDB)
S3method(summary, GenomeDB)
S3method(print, summary.GenomeDB)
S3method(subset, GenomeDB)
export(GetIndexFromName , GetIndexFromAccession)
export(Location, "Location<-")
export(GetGenomeIndices, GetGenomes)
export(read.gbff)
export(BuildGenBankDB)
export(LoadData)
#S3method(LoadData, GenBankDB)
#S3method(LoadData, SeqDB)
import(seqinr)
#import(spgs)
